@import "tailwindcss";

@theme {
  --font-geist-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", ui-monospace, monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
}
